* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-image: url('/assets/ocean-assets/ocean-info.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Customizing the Ocean Container Content */
.ocean-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.ocean-container-content .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ocean-container-content .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 4px solid #430A5D;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    padding: 30px;
}

/* Customizing Images of the content */
.ocean-container-content .box-container .box img {
    height: 230px;
    border: 2px solid #430A5D;
    border-radius: 20px;
}

/* Customizing Text of the content */
.ocean-container-content .box-container .box h3 {
    color: #430A5D;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

.ocean-container-content .box-container .box p {
    color: #430A5D;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.ocean-container-content .box-container .box .btn {
    display: inline-block;
    border: 1px solid #430A5D;
    border-radius: 30px;
    background: #6148FB;
    color: #fff;
    font-size: 20px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 8px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -40px 10px -35px inset;
    margin: 10px;
}

.ocean-container-content .box-container .box .btn:hover {
    letter-spacing: 1px;
}

.ocean-container-content .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}