body {
    background-image: url('/assets/desktop_bg/forest_1.png');
    background-repeat: no-repeat; 
    background-size: 100% 100vh;
    background-attachment: fixed;
}

/* Styling for the header and nav */
.header nav {
    width: max(60%, 10rem);
    padding: 1vw 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(7, 15, 43, 0.8);
    opacity: 0.8;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    position: sticky;
}

/* Styling for the nav links */
.header a {
    text-decoration: none;
    color: white;
    font-family: "Inika", serif;
    font-weight: bolder;
    font-size: larger;
    font-style: normal;
    transition-duration: 0.4s;
}

.header .home-link:active {
    color: gold;
}

.header .about-link:active {
    color: pink;
}

.header nav .active-link {
    color: orange;
}

.header nav .active-link:active {
    color: orange;
}

.header nav .ocean-link:active {
    color: lightseagreen;
}

.header a:hover {
    color: cyan;
    animation-duration: 0.7s;
}

.forest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
}

.forest-container img {
    border: 5px solid #430A5D;
    border-radius: 26px;
    height: 300px;
    height: 350px;
    width: 100%;
}